{% extends 'base.html'%}

{% block title %}
Register Page
{% endblock %}

{% block content %}
<body class="text-center">
    <div class="container">
        <form method="POST" class="form-register" style="color: white; max-width: 500px; margin: auto;">

            {{ register_form.hidden_tag() }}

            <h1 class="h3 mb-3 font-weight-normal">
                Please create your Account
            </h1>
            {{ register_form.username.label() }}
            {{ register_form.username(class="form-control", placeholder="Enter your name") }}

            {{ register_form.email_address.label() }}
            {{ register_form.email_address(class="form-control", placeholder="Enter your email address") }}

            {{ register_form.password.label() }}
            {{ register_form.password(class="form-control", placeholder="Password") }}

            {{ register_form.confirm_password.label() }}
            {{ register_form.confirm_password(class="form-control", placeholder="Confirm Password") }}
            <br>
            {{ register_form.submit(class="btn btn-block btn-primary") }}

            <br>

            <div class="checkbox mb-3">
                <h6 style="margin-bottom: 10px;">Already have an account?</h6>
                <a class="btn btn-sm btn-secondary" href="{{ url_for('login_page') }}">Login</a>
            </div>
        </form>
    </div>
</body>
{% endblock %}
